{:lein   {:profile "cljs"}
 :builds {:app     {:target           :browser
                    :output-dir       "resources/public/js"
                    :asset-path       "/js"
                    :modules          {:main {:init-fn athenaeum-web.core/run}}
                    :dev              {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
                    :devtools         {:preloads [day8.re-frame-10x.preload]}
                    :closure-defines  {athenaeum-web.core/client-id #shadow/env ["STAGING_CLIENT_ID" "391229463438-a0vus34lglv9tsggpbmq2l1ekfb2lc3s.apps.googleusercontent.com"]}
                    :compiler-options {:infer-externs :auto}}
          :test    {:target    :node-test
                    :output-to "target/test.js"}}}
